body {
  background-image: url(../Images/back2.jpg);
}

ul.topnav {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #335c8c;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#logoimg{
  width: auto;
  height: auto;
}

ul.topnav li a:hover{
	background-color: #27106b;
}

div.gallery {
  background-color: #335c8c;
  margin: 5%;
  border: 1px solid #04062c;
  float: left;
  width: 300px;
}

#P1title , #P2title , #P3title{
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  color: beige;
  text-align: center;
}

div.gallery:hover {
  border: 3px solid #777;
  background-color: #04062c;
  transition: transform 5s;
  transform: rotate(360deg);
}

div.gallery img {
  width: 100%;
  height: 100%;
}

div.desc {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 15px;
  text-align: center;
}


/* End of page 1 CSS */


/* Page 2 CSS */


#AU{
  color: aliceblue;
    width: 30%;
    padding: 5px;
    background-color: #1c2348;
    margin: auto;
    text-align: center;
    border: solid rgb(255, 255, 255);
    border-radius: 150px 150px 100px 100px;
  }

#aboutUs{
    text-align: center;
}

@media screen and (min-width: 480px) {
  #aboutText {
    font-size: small;
  }
}

#aboutText{
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #0f093e;
  border: solid black;
  background-color: rgb(209, 206, 206);
  height: 60px;
  width: 50%;
  margin-top: 5px;
  padding-bottom: 5px;
}

#bttn{
  font-size: larger;
  background-color: #60ee58b3;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 50px;
}

#bttn:hover{
  background-color: #e2f62c;
  padding: 10px;
}

#communicationForm{
    width: 60%;
    border: solid rgb(186, 190, 202);
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    /* background-color: rgb(3, 10, 29); */
    /* height: 400px;
    width: 400px; */
}

input{
    margin-top: 15px;
    margin-bottom: 10;
}

button{
    margin-top: 10px;
}

textarea{
    margin-top: 15px;
}

#communicationForm{
  display: none;
  text-align: center;
  background-color: royalblue;
}

#successMessage{
  font-size: x-large;
  display: none;
  text-align: center;
  background-color: darkseagreen;
}


/* End of page 2 CSS */


/* Page 3 CSS */


#formContainer{
  width: 60%;
  background-image: url(../Images/foembackground.jpg);
  border: double #0f093e 5px;
  border-radius: 50px 0px;
}

span{
  position: absolute;
  text-align: center;
}

input{
  text-align: center;
  background-color: #eeedf6;
  width: 60%;
}

#messageCSS{
  position: relative;
  left: -10px;
  top: -70px;
}

.btn{
  font-size: larger;
  background-color: #3970aa;
  border: solid #0e0c64;
  border-radius: 30px;
  padding: 7px;
  margin-bottom: 7px;
  margin-top: 3px;
  width: 100px;
}

.btn:hover{
  background-color: #e2f62c;
  padding: 10px;
}

#thanksMessage{
  height:40px;
  width: 350px;
  border: 8px double rgb(169, 152, 24);
  border-radius: 70px 140px;
  background-color: #04062c;
  color: aliceblue;
  text-align: center;
  padding-top: 8px;
}

th, td { 
  text-align: center;
  border: 2px solid rgb(22, 27, 90);
  padding: 8px;
  background-color: #3970aa; 
}


/* End of page 3 CSS */


/* Footer CSS */


#Facebook {
	color: aliceblue;
	background-color: #0e0c64;
	text-decoration: none;
	text-align: center;
	padding: 6px;
	margin: auto;
}

#YouTube {
	color: aliceblue;
	background-color: #ae1106;
	text-decoration: none;
	text-align: center;
	padding: 6px;
	margin: auto;
}

#Instgram {
	color: aliceblue;
	background-color: #7b1848;
	text-decoration: none;
	text-align: center;
	padding: 6px;
	margin: auto;
}

li{
	text-align: center;
	display: inline;
}

footer{
	text-align: center;
	background-color: #335c8c;
  border: 8px double rgb(169, 152, 24);
  border-radius: 140px 70px;
  padding-bottom: 20px;
	clear: both;
	height: 80px;
}


/* End of footer CSS */